.btn {
  border-radius: 5px;
  padding: 5px;
  min-width: 120px;
  color: white;
  font-weight: 600;
  -webkit-appearance: none;
  cursor: pointer;
}

.btn-success {
  background-color: red;
}

.btn-fail {
  background-color: blue;
}

.btn:active,
.btn:focus {
  outline: none;
}
